<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Auto Correction</title>
</head>

<body>

    <header class="bg-primary text-white text-center py-4">
        <h1>Auto Correction</h1>
        <nav>
            <div class="language-select my-3">
                <label for="language">Language:</label>
                <select id="language" name="language" class="custom-select w-auto"
                    onchange="window.location.href=this.value;">
                    <option value="#en">English</option>
                    <option value="#si">Sinhala</option>
                </select>
            </div>
        </nav>
    </header>

    <main class="container my-5">
        <form action="/get_correction" method="post" class="form-group">
            <div class="mb-3">
                <label for="text">Text:</label>
                <input type="text" id="text" name="text" class="form-control" required
                    aria-label="Input text for correction">
            </div>
            <button type="submit" class="btn btn-primary">Get</button>
        </form>

        <div class="mt-4">
            {% if corrected_text %}
            <h3>Correction:</h3>
            <p>
                {% for correction in corrected_text %}
                Word: {{ correction[0] }} <br />
                {% endfor %}
            </p>
            {% endif %}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl61+Qp6K/xhLGOcvb1B4cJp6dU6cWfaaiy66SlBu/c19HS9P14aP5I4OP"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>