* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #a09f87;
    color: #333;
    padding: 40px;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


header h1 {
    font-size: 2.5em;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #0059b3;
    border-radius: 5px;
}

/* Language dropdown styling */
.language-select {
    margin-top: 10px;
    margin-right: 500px;
    text-align: center;

}

.language-select select {
    padding: 4px;
    font-size: 1.2em;
    background-color: #fff;
    color: #004080;
    border: 2px solid #004080;
    border-radius: 5px;
}

/* Main content styling */
main {
    margin: 20px auto;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    padding: 5px;
    background-color: #004080;
    width: 150px;
    margin-left: 200px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

form button:hover {
    background-color: #0059b3;
}